{% load static %}
<div class="dashboard-header">
        <div class="dashboard-heading">
          <h5>
            Management Dashboard

            {% if site_detail.email_verified is None or site_detail.email_verified == "" %}
          <div class="email-verification">
            Please check your email and follow the instructions to verify your account. <a href="javascript:void(0)" role="button" aria-label="resend" id="email_verification" tabindex="0">Resend</a>
          </div>
          {% endif %}
          </h5>
          
        </div>
        <div class="dashoard-user">
          <a href="javascript:void(0)" data-toggle="dropdown" role="link" aria-label="admin user" title="admin user" aria-expanded="false" class="nav-link dropdown-toggle">
            <span class="user-icon" area-label="User Icon" role="img" aria-hidden="true"></span><span class="name"> {% if request.session.first_name %}{{request.session.first_name}}{% else %} William{% endif %}</span><span class="arrow-icon" role="img" aria-hidden="true" area-label="arrow"></span>
          </a>
          <ul role="menu" class="dropdown-header-top author-log dropdown-menu">
            <li>
              <a href="{{ FRONT_URL }}" target="_blank"><span class="icon website-icon" area-label="My Website" title="My Website"></span> My Website</a>
            </li>

            {% if request.session.is_broker %}
              <li><a href="/admin/payment-settings/"><span class="icon payment-icon" area-label="Payment Settings" title="Payment Settings"></span> Payment Settings</a>
              </li>
            {% endif %}

            {% if request.session.user_id %}
            {% comment %} <li>
              <a href="/my-bids/"><span class="icon bid-icon" area-label="My Bids" title="My Bids"></span> My Bids</a>
            </li>
            <li>
              <a href="/favourite-listings/"><span class="icon favorite-icon" area-label="Favorite Listings" title="Favorite Listings"></span> Favorite Listings</a>
            </li> {% endcomment %}
            <li>
              <a href="/my-bids/"><span class="icon personal-icon" area-label="User Dashboard" title="User Dashboard"></span> User Dashboard</a>
            </li>
            {% endif %}
            {% comment %} <li><a href="javascript:void(0)" data-toggle="modal" data-target="#personalModal" onclick="show_hide_popup('personalModal')"><span class="icon personal-icon" area-label="Personal Info" title="Personal Info"></span> Personal Info</a>
            </li>
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#securityModal" onclick="show_hide_popup('securityModal')"><span class="icon security-icon" area-label="Security" title="Security"></span> Security</a>
            </li> {% endcomment %}
            <li><a href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal"><span class="icon logout-icon" area-label="Log Out" title="Log Out"></span> Log Out</a>
            </li>
          </ul>
        </div>
      </div><!-- End .dashboard-header -->

<!-- Modal -->
<div class="modal fade centered-modal" id="email_verification_msg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header center">
        <h5 class="modal-title" id="exampleModalLabel">Success</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body center">
        <p class="model_content"></p>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>